<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.lendenclub.test.main.BorrowerRegistration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test002ProfessionalDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test009Enach</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test004LoanRequirement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test006LiveKyc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test003LocationAndCreditDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test005AssessmentFee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test001SocialSignUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test008SubmitBankStatement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test007AdharCard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
