<h2>Methods that were not run</h2><table>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test007AdharCard</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test004LoanRequirement</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test006LiveKyc</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test005AssessmentFee</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test001SocialSignUp</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test003LocationAndCreditDetails</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test009Enach</td></tr>
<tr><td>com.lendenclub.test.main.BorrowerRegistration.test002ProfessionalDetails</td></tr>
</table>