<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dac5ef">  <td>22/01/31 17:41:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BorrowerRegistration.mySetUp()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@3c77d488]">&gt;&gt;mySetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>22/01/31 17:42:09</td>   <td>22239</td> <td>&nbsp;</td><td title="&lt;&lt;BorrowerRegistration.tearDown()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@3c77d488]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>22/01/31 17:41:58</td>   <td>10510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test008SubmitBankStatement()[pri:8, instance:com.lendenclub.test.main.BorrowerRegistration@3c77d488]">test008SubmitBankStatement</td> 
  <td>main@609656250</td>   <td></td> </tr>
</table>
